<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>Here I have taken the adultphotopost as id, similarly we can replace id with any other</h1>
<h2>example : adultvideopost , kidsphotopost , kidsvideopost , adultphoto , adultvideo , kidsphoto , kidsvideo</h2>

<table id="customers">
  <tr>
    <th>Route</th>
    <th>Method</th>
    <th></th>
  </tr>
    <tr>
        <td>Registration</td>
        <td>Post</td>
        <td><a style="text-decoration: none; color: black;" target="_blank" href="Registration">For Registration New User</a></td>
    </tr>
    <tr>
        <td>login</td>
        <td>Post</td>
        <td><a style="text-decoration: none; color: black;" target="_blank" href="login">For login</a></td>
    </tr>
    <tr>
      <td>Upload</td>
      <td>Post</td>
      <td><a style="text-decoration: none; color: black;" target="_blank" href="Upload">For photo upload</a></td>
    </tr>
    <tr>
        <td>id</td>
        <td>Get</td>
        <td><a style="text-decoration: none; color: black;" target="_blank" href="adultphotopost">For Use adultphotopost , adultvideopost , kidsphotopost , kidsvideopost , adultphoto , adultvideo , kidsphoto , kidsvideo Id & Get Data</a>
    </tr>
</table>

</body>
</html>
<!DOCTYPE html>
